<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rendersoncs.reportform">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".view.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- [START crash_disable_collection] -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <!-- [END crash_disable_collection] -->

        <!--Facebook-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"
            tools:replace="android:theme" />

        <activity android:name=".view.activitys.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activitys.login.HomeActivity" />
        <activity android:name=".view.activitys.login.LoginActivity" />
        <activity android:name=".view.activitys.login.SignUpActivity" />
        <activity android:name=".view.activitys.login.RecoveryLoginActivity" />
        <activity android:name=".view.activitys.login.UpdatePasswordActivity" />
        <activity android:name=".view.activitys.login.RemoveUserActivity" />
        <activity android:name=".view.activitys.ReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activitys.MainActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".view.activitys.ReportResume"
            android:parentActivityName=".view.activitys.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activitys.MainActivity" />
        </activity>
        <activity android:name=".view.activitys.SignatureActivityMain" />

        <activity
            android:name=".view.activitys.cameraX.CameraXMainActivity"
            android:clearTaskOnLaunch="true"
            android:theme="@style/CameraTheme"
            android:icon="@mipmap/ic_launcher"
            android:screenOrientation="fullUser"
            android:rotationAnimation="seamless"
            tools:targetApi="O">

            <!-- App links for http/s -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="example.android.com" />
                <data android:pathPattern="/camerax" />
            </intent-filter>

            <!-- Declare notch support -->
            <meta-data android:name="android.notch_support" android:value="true"/>

        </activity>

        <service
            android:name=".repository.net.NotificationFireBase"
            android:permission="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>
        <!--<meta-data-->
            <!--android:name="io.fabric.ApiKey"-->
            <!--android:value="3dc6b3f7c9b49dc77c730868b0ee3ee4530d9966" />-->
    </application>

</manifest>